@supports (container-type: inline-size) {
    .siteCookies__form {
        container-type: inline-size;
        padding: 1.25rem .9375rem 1px .9375rem !important;
    }
}

@container (min-width: 560px) {



    .siteCookies__links {
        height: 15px !important;
    }

    .siteCookies__links .siteCookies__link.js-cookies-settings {
        position: absolute !important;
        top: 122px !important;
        border: none !important;
        text-decoration:underline;
        left:60px
    }

    .siteCookies__link:link{
        width: 120px !important;
        height: 40px !important;
    }



    .siteCookies__buttonWrap {
        right: 35px !important;
        top: 130px !important;
        position: absolute !important;
        display: flex;
        gap: 35px !important;
    }
    
    .siteCookies__buttonWrap .siteCookies__button[value="all"] {
width: 260px;
}
    
.siteCookies__text {
    margin-bottom: 0px !important;
}




     .siteCookies__buttonWrap .siteCookies__button{
    height: 50px !important;
}
    
     .siteCookies__buttonWrap .siteCookies__button[value="reject"] {
    width: 136px;
    background:none !important;
    color:white !important;
    border: 1px solid !important;
    }
}

@container (max-width: 559px) {
    
    .siteCookies__links .siteCookies__link.js-cookies-settings {
        border: none !important;
        text-decoration:underline;
        height: 40px;
        display: inline;
        width: auto;
        position: static !important;
        display: inline;
    }

    .siteCookies__links {
        width: auto;
        margin: 0 auto;
    }



    .siteCookies__buttonWrap {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom:20px !important;
    top: 50%;
    left: 50%;
    gap: 15px !important;

    
    }
     .siteCookies__buttonWrap .siteCookies__button[value="reject"] {
    background:none !important;
    color:white !important;
    border:1px solid;
    height:50px !important;
    }


}